<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="detalle-movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax auto =""
               id="obtenerDetalle"
               url="http://localhost:83/v2/movimientos/{{id}}"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>
    <div class="row">

      <div class="row col-lg-12 col-sm-12">
        <div class="card-deck">
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[movimientos.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{movimientos.id}}</h5>
                <p class="card-text">{{movimientos.fecha}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{movimientos.importe}}</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">{{movimientos.ciudad}}</a>
                <a href="#" class="card-link">{{movimientos.latitud}}</a>
                <a href="#" class="card-link">{{movimientos.longitud}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientosApp extends Polymer.Element {
      static get is() { return 'detalle-movimientos-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          }
        };
      }

      mostrarMovimientos(data) {
        console.log(data.detail.response);
        this.movimientos = data.detail.response;
      }
    }
    window.customElements.define(DetalleMovimientosApp.is, DetalleMovimientosApp);
  </script>
</dom-module>
