<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="loginmx-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
  </iron-ajax>
    <iron-ajax id="useraut"
               url="http://localhost:3000/v1/usuarios/login"
               method="POST"
               headers='{"e": "bleveritt2o@msn.com","p": "TyO6mGTYG9"}'
               handle-as="text"
               on-response="validLogin">
    </iron-ajax>
    <div>
      <h2>Acceso</h2>
      <label for="">[[etuser]]</label>
      <input type="text" name="" value="{{valuser::input}}">
      <br>
      <label for="">[[etpassword]]</label>
      <input type="password" name="" value="{{valpasswd}}">
    </div>
    <div class="">
      <button on-click="hacerLogin" type="button" name="button">[[etlogin]]</button>
      <button on-click="invocarPeticion" type="button" name="button">Invocar</button>

    </div>
  </template>

  <script>
    /**
     * @customElement
     *::input @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {https://github.com/axios/axios/issues/569
        return {
          etuser: {
            type: String
          },
          etpassword : {
            type: String
          },
          etlogin : {
            type : String
          },
          valuser:{
            type : String
          }
        };
      }
      hacerLogin(){
        this.$.useraut.generateRequest();
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data){
        console.log(data.detail.response.value);
      }
      validLogin(data){
        console.log(data);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
