<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="front-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <input type="text" name="" value="{{prop1::input}}">
    <input type="text" name="" value="[[prop1::input]]">
  </template>

  <script>
    /**
     * @customElement
     *::input @polymer
     */
    class FrontApp extends Polymer.Element {
      static get is() { return 'front-app'; }
      static get properties() {
        return {
          prop1: {
            type: String
          }
        };
      }
    }

    window.customElements.define(FrontApp.is, FrontApp);
  </script>
</dom-module>
